[Unit]
Description=Perflock daemon

[Service]
Type=simple
ExecStart=/usr/bin/perflock -daemon
Restart=on-failure

[Install]
WantedBy=multi-user.target
